<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="cstmContainer">
        <button class="backBtn" (click)="back()">
          <i class="fa fa-arrow-left"></i>
        </button>
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <div class="itemContent" >
                <h5 class="itemName mt-5 mb-3">
                  <span @fadeIn>{{ firstName }}</span>
                  <span @fadeIn> {{ lastName }}</span>
                </h5>
                <p class="itemDescription mt-3 mb-5" @fadeIn>{{ data?.description }}</p>
              </div>
              <div class="container mt-5 mb-3">
                <div class="row mt-3 mb-3">
                  <div class="col-sm-6">
                    <div class="addOnsSection">
                      <h6 @fadeIn>Add Ons</h6>
                      <div
                        class="options mt-3 mb-3 d-flex justify-content-between align-items-center"
                      >
                        <p @fadeIn>Extra Beef Patty</p>
                        <button class="addBtn">
                          <i class="fa fa-plus"></i>
                        </button>
                      </div>
                      <div
                        class="options mt-3 mb-3 d-flex justify-content-between align-items-center"
                      >
                        <p @fadeIn>Extra Beef Patty</p>
                        <button class="addBtn">
                          <i class="fa fa-plus"></i>
                        </button>
                      </div>
                      <div
                        class="options mt-3 mb-3 d-flex justify-content-between align-items-center"
                      >
                        <p @fadeIn>Extra Beef Patty</p>
                        <button class="addBtn">
                          <i class="fa fa-plus"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row mt-3 mb-3">
                  <div class="col-sm-6">
                    <div class="addOnsSection">
                      <h6 @fadeIn>Drinks</h6>
                      <div
                        class="options mt-3 mb-3 d-flex justify-content-between align-items-center"
                      >
                        <p @fadeIn>7Up</p>
                        <button class="addBtn">
                          <i class="fa fa-plus"></i>
                        </button>
                      </div>
                      <div
                        class="options mt-3 mb-3 d-flex justify-content-between align-items-center"
                      >
                        <p @fadeIn>Pepsi</p>
                        <button class="addBtn">
                          <i class="fa fa-plus"></i>
                        </button>
                      </div>
                      <div
                        class="options mt-3 mb-3 d-flex justify-content-between align-items-center"
                      >
                        <p @fadeIn>Coke</p>
                        <button class="addBtn">
                          <i class="fa fa-plus"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div
                class="w-100 d-flex justify-content-center align-items-center"
              >
                <div class="itemImg mt-5" @fadeIn>
                  <img src="{{ data?.img }}" alt="" />
                </div>
              </div>
              <div class="checkoutBtn">
                <button>Done</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
