.itemImg {
    width: 400px;
    height: 300px;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
.itemName {
    color: #fff;
    font-size: 2.5rem;
  span {
    &:first-child {
      font-family: poppinsregular;
    }
    &:last-child {
      font-family: poppinsbold;
    }
  }
}
.itemContent {
  padding: 0 1rem;
}
p {
  color: #fff;
  margin: 0;
}
.addOnsSection{
    h6{
        font-family: poppinsbold;
        color: #fff;
    }
}
.addBtn{
    background-color: #5AF4FE;
    border: none;
    border-radius: 100px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cstmContainer{
    margin-top: 2rem;
    background: #ffffff17;
    box-shadow: 0 8px 32px 0 #15ffb305;
    backdrop-filter: blur(11px);
    -webkit-backdrop-filter: blur(11px);
    border-radius: 10px;
    border: 1px solid #ffffff03;
}
.backBtn{
    margin-left: 30px;
    margin-top: 20px;
}