<div class="container position-relative" [ngClass]="{'headingHeight': !headingShow}">
  <div class="row">
    <div class="col-sm-12 d-flex justify-content-center align-items-center">
      <div class="d-flex justify-content-center align-items-center">
        <main role="main">
          <h3
            [@animateText]="currentState"
            (@animateText.done)="animationFinished($event)"
            *ngIf="headingShow"
          >
            {{ text }}
          </h3>
        </main>
      </div>
      <div class="iconsBtn d-flex justify-content-center align-items-center">
        <p>Jhon Smith</p>
        <div ngbDropdown class="d-inline-block">
          <button type="button" id="dropdownBasic1" ngbDropdownToggle>
            <i class="fa fa-user-o" aria-hidden="true"></i>
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem *ngIf="waiter" (click)="myOrders()">My Orders</button>
            <button ngbDropdownItem (click)="logout()">Logout</button>
          </div>
        </div>
        
        <button (click)="cartShow()">
          <i class="fa fa-shopping-bag" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
</div>
