.container {
  width: 100%;
  min-height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #ffffff0d, #ffffff2b);
  .iconsBtn {
    position: absolute;
    right: 30px;
    p,
    text{
        margin: 0;
        color: var(--headings-primary-color);
    }
    button {
      background: none;
      border-radius: 20px;
      width: 30px;
      height: 30px;
      border-color: #fff;
      margin-left: 10px;
      &:last-child {
        width: 40px;
        height: 40px;
      }
      i {
        color: #fff;
      }
    }
  }
}
h3 {
  color: var(--headings-primary-color);
  font-family: josefinsemiregular;
  margin: 0;
}
