.addTableBtn {
  margin-top: 2rem;
  background: none;
  border: none;
  color: #5af4fe;
  width: 200px;
  height: 80px;
  background: #ffffff40;
  border-radius: 10px;
}
.table {
  margin-top: 2rem;
  background: none;
  border: none;
  color: #5af4fe;
  width: 100%;
  min-height: 80px;
  background: #ffffff40;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: josefinsemiregular;
  position: relative;
  p,
  h3 {
    margin: 0;
    color: #fff;
    margin-left: 35px;
  }
  p {
    font-size: 10px;
  }
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 5px;
    width: 10px;
    height: 80%;
    transform: translateY(-50%);
    border-radius: 10px;
  }
}
.counterTbale{
  background: url('../../../assets/images/tableCover.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.table.red {
  &::after {
    background-color: #e36a6a;
  }
}
.table.green {
  &::after {
    background-color: #5cf07d;
  }
}
.table.yellow {
  &::after {
    background-color: #e1e36a;
  }
}
.red {
  color: #e36a6a !important;
}
.green {
  color: #5cf07d !important;
}
.yellow {
  color: #e1e36a !important;
}
.blue{
  color: #2B7EA1 !important;
}
.redbackground {
  background-color: #e36a6a !important;
}
.greenbackground {
  background-color: #2BA18C !important;
}
.yellowbackground {
  background-color: #e1e36a !important;
}
.bluebackground{
  background-color: #2B7EA1 !important;
}
.backBtn {
  margin-top: 1rem;
}
.statusBox {
  margin-left: 20px;
  p {
    color: #fff;
    font-family: josefinsemiregular;
    margin: 0;
  }
  .redStatus,
  .yellowStatus,
  .greenStatus {
    width: 15px;
    height: 15px;
    border-radius: 100px;
    margin-right: 10px;
  }
  .redStatus {
    background-color: #e36a6a;
  }
  .yellowStatus {
    background-color: #e1e36a;
  }
  .greenStatus {
    background-color: #5cf07d;
  }
}
.tableModal.table{
  margin-top: 0;
  height: 100%;
  background: none;
  &::after{
    left:-20px;
    height: 100%;
  }
  .orderNo,
  h3,p{
    margin: 0;
    color: #fff;
    margin-left: 10px;
  }
  hr{
    color: #fff;
  }
}
.orderHead,
.orderStatus{
  color: #fff;
  font-family: josefinsemiregular;
  margin: 0;
}
.orderHead{
  font-family: josefinbold;
}
.checkoutModal {
  .head,
  .subHead {
    font-family: josefinsemiregular;
    color: #fff;
  }
}
.modal2-text {
  color: #ffffff;
  font-weight: 400;
  font-size: 3rem;
}
.modal-header1 {
  border-bottom: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0px 0px 0rem 0px;
}
.modal2-para {
  color: #ffffff;
  font-size: 24px;
}
.modal-body2 {
  text-align: center;
  padding-top: 0px;
}
.btm-btn {
  width: 200px;
  padding: 10px 0;
  color: #ffffff;
  background-color: #2bbbbb;
  font-family: josefinsemiregular;
  border-radius: 20px;
  border: none;
  font-weight: 400;
  margin-top: 1rem;
}
.modal2-para span {
  font-size: 19px;
}
.bg-dng {
  background-color: #ff3131;
}
.bg-success1 {
  background-color: #2bbb65;
}
.modal-footer-txt {
  display: flex;
  justify-content: center;
}
.modal-footer-txt a {
  color: #2bbbbb;
}
.completeDine {
  padding: 15px 1rem;
  font-size: 14px;
  position: absolute;
  bottom: 20px;
  right: 10px;
}
.scanBtn {
  color: #2bbbbb;
  background: none;
  border: none;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 50%;
    /* right: 0; */
    height: 2px;
    width: 100%;
    background-color: #2bbbbb;
    transform: translateX(-50%);
  }
}
.totalSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  .subtotal,
  .grandtotal,
  .extraCharges {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    h5 {
      color: #fff;
      font-family: poppinsbold;
      margin-top: 1rem;
    }
    h6 {
      color: #cfcfcf;
      font-family: poppinslight;
      margin: 0;
      margin-top: 5px;
    }
  }
}
.hr {
  background-color: #797979;
  height: 1px;
  width: 100%;
  margin-bottom: 1rem;
}
.w-30 {
  width: 30% !important;
}
.w-40 {
  width: 40% !important;
}
.backModal {
  margin-left: 20px;
  margin-top: 20px;
}
.actionBtn{
  border: none;
  color: #fff;
  border-radius: 100px;
  // min-width: 150px;
  margin:5px 10px;
  padding: 5px 1.5rem;
}
.fa{
  font-size: 10px;
}
.cstmHeight{
  height: 70vh;
  overflow-y: scroll;
}
.ng-select{
  min-width: 150px;
}
.listView{
  .table>:not(caption)>*>* {
    min-width: 150px;
    padding: 10px 0 !important;
      text-align: center;
  }
}
.dateLabel{
  font-size: 10px;
}
.dateForm{
  input{
    padding-left: 10px;
  }
}
.exportFile{
  margin: 0;
  color: #fff;
  position: absolute;
  bottom: 10px;
  right: 40px;
  cursor: pointer;
  .fa{
    font-size: 20px;
}
}