<div class="cartBox">
    <div class="cartItemPic">
        <img src="assets/menu items/burger.png" alt="">
    </div>
    <div class="cartcontent">
        <h6>Beef Burger</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis distinctio quidem provident facilis!</p>
        <div class="cartItemAction">
            <div class="cartItemActionbtns">
                <button class="btn btn-success">
                    <i class="fa fa-edit fa-sm"></i>
                </button>
                <button class="btn btn-danger">
                    <i class="fa fa-trash fa-sm"></i>
                </button>
            </div>
            <div class="cartPrice">
                <h4>$123</h4>
            </div>
        </div>
    </div>
</div>
