.cartBox {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 2rem 0;
  .cartItemPic {
    background: linear-gradient(14deg, transparent, #2c2c2c);
    width: 200px;
    height: 100px;
    border-radius: 10px;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .cartcontent {
    margin-left: 15px;
    h6,
    .cartPrice {
      color: #fff;
      font-family: poppinsbold;
    }
    p {
      font-family: poppinsregular;
      color: #797979;
      font-size: 10px;
    }
  }
  .cartItemAction {
    display: flex;
    justify-content: space-between;
    .cartItemActionbtns{
    display: flex;

    }
    .btn-success,
    .btn-danger {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
    height: 30px;
    border-radius: 100px;
    margin: 0 10px 0 0;
    }
  }
}
