<div [ngClass]="{'cstmContainer': login}">
    <div [ngClass]="{'cstmRow h-100': login}">
      <div class="cstmCol2 h-100" *ngIf="login">
        <app-sidebar></app-sidebar>
      </div>
      <div [ngClass]="{'cstmCol10 h-100': login}">
        <app-header *ngIf="login"></app-header>
        <main *ngIf="!cart">
          <router-outlet (activate)="changeOfRoutes()"></router-outlet>
        </main>
        <app-cart @fadeIn *ngIf="cart"></app-cart>
      </div>
    </div>
  </div>
  <!-- <app-footer *ngIf="login"></app-footer> -->
  