.nav-link.active{
    border-radius: 100px;
    background: none;
    color: #fff;
}
.nav-link{
    margin: 0 10px;
    min-width: 120px;
    border-radius: 100px;
    color: #fff;
}
.nav-tabs{
    border: none;
}
.tab-content{
    color: #fff;
}
